<!DOCTYPE html>
<html>
<head>
    <title>Poker Game</title>
</head>
<body>
    <h1>Poker Game</h1>

    <p th:text="'Amount: ' + ${player.Amount}" />
    <p th:text="'name: ' + ${player.name}" />
    <p>Current pot value: <span id="pot"></span></p>
    

    

    <script>
        function updatePot() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/game/pot");
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var pot = parseInt(xhr.responseText);
                    document.getElementById("pot").innerHTML = pot;
                }
            };
            xhr.send();
        }

        setInterval(updatePot, 1000); // update pot every second
    </script>
</body>
</html>
