<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <title>Poker Game</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <style>
    body {
      background-color: #1c1c1c;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      text-align: center;
    }

    .button-container {
      margin-top: 50px;
    }

    .button {
      display: inline-block;
      background-color: #4a4a4a;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-size: 20px;
      margin: 0 10px;
    }

    .button:hover {
      background-color: #333333;
    }

    .card-container {
      margin-top: 50px;
    }

    .card {
      width: 100px;
      height: 150px;
      background-color: black;
      margin: 10px;
      display: inline-block;
      position: relative;
    }

    .rank {
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .suit {
      font-size: 30px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
    }

    p {
      font-size: 24px;
    }
    #TurnBox {
      width: 50px;
      height: 50px;
      background-color: red;
    }
  </style>
</head>

<body>
  <h1>Poker Game</h1>

  
  <p  th:text="'id: ' + ${player.id}" />
  <div  th:attr ="id=${player.id}"></div>
  
  <p  th:text="'Name: ' + ${player.name}" />
  
  <p>Current Amount : <span id="amt"></span></p>

  <div class="card-container">
    <div class = "card">
      <div class="rank" id = "flop1rank"></span></div>
      <div class="suit" id = "flop1suit"></span></div>
    </div>
    <div class = "card">
      <div class="rank" id = "flop2rank"></span></div>
      <div class="suit" id = "flop2suit"></span></div>
    </div>
    <div class = "card">
      <div class="rank" id = "flop3rank"></span></div>
      <div class="suit" id = "flop3suit"></span></div>
    </div>
    <div class = "card">
      <div class="rank" id = "turnrank"></span></div>
      <div class="suit" id = "turnsuit"></span></div>
    </div>
    <div class = "card">
      <div class="rank" id = "riverrank"></span></div>
      <div class="suit" id = "riversuit"></span></div>
    </div>
  </div>
      

  <div class="card-container">
    <div class="card">
      <div class="rank" id = "card1Value"></div>
      <div class="suit" id = "card1Suit"></div>
    </div>

    <div class="card">
      <div class="rank" id = "card2Value"></div>
      <div class="suit" id = "card2Suit"></div>
    </div>
  </div>



  <div class="button-container">
    <input type = "text" id = "BetAmt">
    <a class="button" id="Bet"  >Bet</a>
    <a class="button" id="Check" >Check</a>
    <a class="button" id="Fold" >Fold</a>
  </div>

  <div id = "TurnBox">TURN</div>
  

  
  <p>Current Minimum Bet : <span id="MinBet"></span></p>
  <p>Current pot value: <span id="pot"></span></p>
  
  <script>

    function updatePlayerAmount(){
      var id = (document.querySelector('[id]').getAttribute('id')).toString();
      var xhr = new XMLHttpRequest();
      xhr.open("GET","/game/amount?id="+id);
      xhr.onload = function() {
        if (xhr.status === 200) {
            var a = parseInt(xhr.responseText);
            document.getElementById("amt").innerHTML = a;
        }
    };
    xhr.send();

    }
    setInterval(updatePlayerAmount, 1000);

    var id = (document.querySelector('[id]').getAttribute('id')).toString();
    function updatePlayerturn(){

      var id = (document.querySelector('[id]').getAttribute('id')).toString();
      var checkturn = new XMLHttpRequest();
      checkturn.open("GET","/game/turn?id="+id)
      checkturn.onload =function(){
        if (checkturn.status === 200) {
          var Playerturn = (checkturn.responseText);
          var TBox = document.getElementById("TurnBox")
          if(Playerturn == "true"){
            TBox.style.backgroundColor = "green";
          }
          else if (Playerturn == "false"){
            TBox.style.backgroundColor = "red";
          }
        }
      };
      checkturn.send();

    }
    setInterval(updatePlayerturn, 1000);






    function updateHoleCards(){

      var id = (document.querySelector('[id]').getAttribute('id')).toString();
      

      var getholecard1rank = new XMLHttpRequest();
      
      getholecard1rank.open("GET", "/player/Hole1rank?id="+id);
      getholecard1rank.onload = function() {
        if (getholecard1rank.status === 200) {
            var card1Value = (getholecard1rank.responseText);
            document.getElementById("card1Value").innerHTML = card1Value;
        }
      };
      getholecard1rank.send();

      var getholecard2rank = new XMLHttpRequest();
      
      getholecard2rank.open("GET", "/player/Hole2rank?id="+id );
      getholecard2rank.onload = function() {
        if (getholecard1rank.status === 200) {
            var card2Value = (getholecard2rank.responseText);
            document.getElementById("card2Value").innerHTML = card2Value;
        }
      };
      getholecard2rank.send();

      var getholecard1suit = new XMLHttpRequest();
      
      getholecard1suit.open("GET", "/player/Hole1suit?id="+id );
      getholecard1suit.onload = function() {
        if (getholecard1suit.status === 200) {
            var card1suit = (getholecard1suit.responseText);
            document.getElementById("card1Suit").innerHTML = card1suit;
        }
      };
      getholecard1suit.send();

      var getholecard2suit = new XMLHttpRequest();
      
      getholecard2suit.open("GET", "/player/Hole2suit?id="+id );
      getholecard2suit.onload = function() {
        if (getholecard2suit.status === 200) {
            var card2suit = (getholecard2suit.responseText);
            document.getElementById("card2Suit").innerHTML = card2suit;
        }
      };
      getholecard2suit.send();

    }
    setInterval(updateHoleCards, 1000);

    

    alert(document.querySelector('[id]').getAttribute('id'));





    var Bet = document.getElementById("Bet");
    Bet.onclick = function(){
      var id = (document.querySelector('[id]').getAttribute('id')).toString();
      var xhr = new XMLHttpRequest();
      const BetAmount = document.getElementById("BetAmt").value;

      var base = "/game/bet"
      url = `${base}?id=${id}&Betamt=${BetAmount}`;
      xhr.open("GET",url);
      xhr.onload = function() {
        if (xhr.status === 200) {
          var min = (xhr.responseText);
          if(min=="true"){
            alert("bet placed");
          }
          else if(min=="not"){
            alert("Please wait for your turn!!");
          }
          else{
            alert("Please enter amount greater than Minimum Bet!");
          }
      }
      };
      
      xhr.send();
    }; 

    var Fold = document.getElementById("Fold");
    Fold.onclick= function(){
      var xhr = new XMLHttpRequest();
      xhr.open("GET","/game/fold");
      xhr.onload =function(){
        if (xhr.status === 200) {
          var player_fold = (xhr.responseText);
          alert(player_fold);
      }
      }
      xhr.send()
    }


    function updatePot() {
        var getamt = new XMLHttpRequest();
        getamt.open("GET", "/game/pot");
        getamt.onload = function() {
            if (getamt.status === 200) {
                var pot = parseInt(getamt.responseText);
                document.getElementById("pot").innerHTML = pot;
            }
        };
        getamt.send();
    }

    setInterval(updatePot, 1000); // update pot every second
    
    function ShowMinBet() {
      var minbet = new XMLHttpRequest();
      minbet.open("GET", "/game/minbet");
      minbet.onload = function() {
          if (minbet.status === 200) {
              var mb = parseInt(minbet.responseText);
              document.getElementById("MinBet").innerHTML = mb;
          }
      };
      minbet.send();
  }

  setInterval(ShowMinBet, 1000);

    function updateFlop(){

      
      var getFrank1 = new XMLHttpRequest();
      getFrank1.open("GET", "/table/Flop1rank");
      getFrank1.onload = function() {
        if (getFrank1.status === 200) {
            var Flop1rank = (getFrank1.responseText);
            document.getElementById("flop1rank").innerHTML = Flop1rank;
        }
      };
      getFrank1.send();


      var getFsuit1 = new XMLHttpRequest();
      getFsuit1.open("GET", "/table/Flop1suit");
      getFsuit1.onload = function() {
        if (getFsuit1.status === 200) {
            var Flop1suit = (getFsuit1.responseText);
            document.getElementById("flop1suit").innerHTML = Flop1suit;
        }
      };
      getFsuit1.send();

      var getFrank2 = new XMLHttpRequest();
      getFrank2.open("GET", "/table/Flop2rank");
      getFrank2.onload = function() {
        if (getFrank2.status === 200) {
            var Flop2rank = (getFrank2.responseText);
            document.getElementById("flop2rank").innerHTML = Flop2rank;
        }
      };
      getFrank2.send();
      var getFsuit2 = new XMLHttpRequest();
      getFsuit2.open("GET", "/table/Flop2suit");
      getFsuit2.onload = function() {
        if (getFrank2.status === 200) {
            var Flop2suit = (getFsuit2.responseText);
            document.getElementById("flop2suit").innerHTML = Flop2suit;
        }
      };
      getFsuit2.send();

      var getFrank3 = new XMLHttpRequest();
      getFrank3.open("GET", "/table/Flop3rank");
      getFrank3.onload = function() {
        if (getFrank3.status === 200) {
            var Flop3rank = (getFrank3.responseText);
            document.getElementById("flop3rank").innerHTML = Flop3rank;
        }
      };
      getFrank3.send();

      var getFsuit3 = new XMLHttpRequest();
      getFsuit3.open("GET", "/table/Flop3suit");
      getFsuit3.onload = function() {
        if (getFsuit3.status === 200) {
            var Flop3suit = (getFsuit3.responseText);
            document.getElementById("flop3suit").innerHTML = Flop3suit;
        }
      };
      getFsuit3.send();



    }
    setInterval(updateFlop, 1000);

    function updateTurn(){

      
      var getTurnrank = new XMLHttpRequest();
      getTurnrank.open("GET", "/table/Turnrank");
      getTurnrank.onload = function() {
        if (getTurnrank.status === 200) {
            var Turnrank = (getTurnrank.responseText);
            document.getElementById("turnrank").innerHTML = Turnrank;
        }
      };
      getTurnrank.send();


      var getTurnsuit = new XMLHttpRequest();
      getTurnsuit.open("GET", "/table/Turnsuit");
      getTurnsuit.onload = function() {
        if (getTurnsuit.status === 200) {
            var Turnsuit = (getTurnsuit.responseText);
            document.getElementById("turnsuit").innerHTML = Turnsuit;
        }
      };
      getTurnsuit.send();
    }
    setInterval(updateTurn, 1000);


    function updateRiver(){

      
      var getRiverrank = new XMLHttpRequest();
      getRiverrank.open("GET", "/table/Riverrank");
      getRiverrank.onload = function() {
        if (getRiverrank.status === 200) {
            var Riverrank = (getRiverrank.responseText);
            document.getElementById("riverrank").innerHTML = Riverrank;
        }
      };
      getRiverrank.send();


      var getRiversuit = new XMLHttpRequest();
      getRiversuit.open("GET", "/table/Riversuit");
      getRiversuit.onload = function() {
        if (getRiversuit.status === 200) {
            var Riversuit = (getRiversuit.responseText);
            document.getElementById("riversuit").innerHTML = Riversuit;
        }
      };
      getRiversuit.send();
    }
    setInterval(updateRiver, 1000);


  </script>






</body>

</html>
